
/* THEME GREY */
:root{
    --color-black: #000000;
    --color-black2-shadows: #1f1f1f;
    --color-black-bg2: #2a2a2a;
    --color-gray: #495057;
    --color-gray2: #3f3f3f;
    --color-white: #c1c1c1;
    --color-white-shadows: #c1c1c1;
    --fuente-inter: "Inter", sans-serif;
    --fuente-oswald: "Oswald", sans-serif;
}

body{
    background-color: var(--color-black-bg2);
    background-image: none;
    transition: all 1s ease;
}
.encriptar{
    background: var(--color-gray2);
    border: 2px solid var(--color-gray2); 
    box-shadow: 0px 0px 20px 15px var(--color-black2-shadows);
}
.btn__encriptar,
.btn__desencriptar,
.btn__copiar {
    background:var(--color-gray2);
    border: 2px solid var(--color-gray2);
    box-shadow: 0px 0px 20px 8px var(--color-black2-shadows);
}
.btn__encriptar:active{
    box-shadow: inset 2px 2px 4px var(--color-black2-shadows),
    inset -3px -4px 8px var(--color-black2-shadows) ;
}
.btn__desencriptar {
    background: var(--color-gray2);
}
.btn__desencriptar:active{
    box-shadow: inset 2px 2px 4px var(--color-black2-shadows),
    inset -3px -4px 8px var(--color-black2-shadows);
}
.btn__copiar{
    background: var(--color-gray2);
}
.btn__copiar:active{
    box-shadow: inset 2px 2px 4px var(--color-black2-shadows),
    inset -3px -4px 8px var(--color-black2-shadows) ;
}
.desencriptador{
    border: 2px solid var(--color-gray2);
    background: var(--color-gray2); 
    box-shadow: 0px 0px 20px 15px var(--color-black2-shadows);
}
.alerta,
.alerta__encriptar,
.alerta__desencriptar,
.alerta__mayus,
.alerta__mensaje1,
.alerta__mensaje2,
.mayusculas {
    background-color:var(--color-gray);
    box-shadow: 0px 5px 10px var(--color-black2-shadows);
}
footer {
    box-shadow: 0px 0px 20px 8px var(--color-black2-shadows);
}
.usuario{
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
}
